# SIMPOSYANDU CI4 - salin menjadi .env lalu isi
CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'

database.default.hostname = localhost
database.default.database = simposyandu
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.charset = utf8mb4

database.opensid.hostname = localhost
database.opensid.database = opensid
database.opensid.username = root
database.opensid.password =
database.opensid.DBDriver = MySQLi
database.opensid.charset = utf8mb4

recaptcha.siteKey =
recaptcha.secretKey =
encryption.key =
