Options -Indexes
DirectoryIndex index.php

<FilesMatch "\.(sql|log|bak|bkp|old|tmp)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<Files "error_log">
    Order Allow,Deny
    Deny from all
</Files>

<FilesMatch "^(credentials\.php|.*\.zip)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>
